<a href="https://colab.research.google.com/github/anumit-web/ML-Analytics-Portfolio-2024/blob/main/9.%20Data%20Cleaning%20and%20Preprocessing/Data_Cleaning_and_Preprocessing_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Intelligence
# Machine Learning
# Portfolio Project
# #9
# Data Cleaning (v3)
# Goal = Cleaning and preprocessing raw dataset. showcase of skills like data wrangling, feature engineering, data normalization


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Branding statement

In [630]:
# https://i.ibb.co/zZswY34/Pink-hands-network-2.png

In [ ]:
from IPython.display import Image
Image('https://i.ibb.co/zZswY34/Pink-hands-network-2.png')

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# EDA, Exploratory Data Analysis

## import libraries

In [ ]:
print('Hello, Data Cleaning and Preprocessing')

In [ ]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# this library is used for one hot encoding
from sklearn.preprocessing import OneHotEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

## Input data

In [ ]:
# https://zenodo.org/records/13925131/files/netflix_titles.csv?download=1

input_data_df = pd.read_csv("https://zenodo.org/records/13925131/files/netflix_titles.csv"
                            , sep = ',')

In [ ]:
number_of_rows = input_data_df.shape[0]
number_of_columns = input_data_df.shape[1]
print("Numner of rows = ", number_of_rows)
print("Number of columns = ", number_of_columns)

In [ ]:

input_data_df.head()

In [ ]:
input_data_df.tail()

In [ ]:
input_data_df.info()

In [ ]:
input_data_df.describe()

In [ ]:
#

In [ ]:
# raise SystemExit("Stop right there!")

change index to date tyoe and date column

In [ ]:
# input_data_df.index = input_data_df['Date']

In [ ]:
input_data_df.head()

do NOT drop date column because we need it for model training for linear and random forest algorithms

In [ ]:
# input_data_df = input_data_df.drop('Date', axis=1)
# where 1 is the axis number (0 for rows and 1 for columns.)

In [ ]:
input_data_df.head()

## find list of all columns which have null values

using SKIMPY

In [ ]:
# Get the count of null values in each column
null_counts = input_data_df.isnull().sum()
print('Priniting count of null values = ')
print(null_counts)

In [ ]:
try:
  import skimpy
except:
  !pip install skimpy
  import skimpy

In [ ]:
from skimpy import skim

In [ ]:
skim(input_data_df)

## find unique values by column names

In [ ]:
# Find the number of unique values in both 'Name' and 'Age' columns
unique_values = input_data_df.nunique()
print(unique_values)

In [ ]:
# ! pip install summarytools

try:
  import summarytools
except:
  !pip install summarytools
  import summarytools

In [ ]:
from summarytools import dfSummary

In [ ]:
dfSummary(input_data_df)

# Data Cleanimg and Preprocessing ðŸ§¹ðŸ§¼ðŸ§½

## 101. Rename columns to better understand the data

In [ ]:
input_data_df.columns

In [ ]:
input_data_df.columns = ['Show id', 'Media Type', 'Title',
                         'Director Name', 'Cast (Actors)', 'Country Name',
                         'Date Added', 'Release Year',
                         'Rating', 'Duration',
                         'Listed in Categories', 'Description']



input_data_df.head()

## 101. Find duplicate rows

In [ ]:
# Find duplicate rows
duplicate_rows = input_data_df[input_data_df.duplicated()]

# Print duplicate rows
print(duplicate_rows)

In [ ]:

# Check if duplicates are found
if len(duplicate_rows) == 0:
    print("No duplicates found")
else:
    print("Duplicates found:")

## 101. Drop rows of data not needed
1. India and Paksitan
2. date added is null

In [ ]:
# delete rows where A == 'foo'
# nput_data_df = input_data_df[input_data_df['A'] != 'foo']

# Delete rows using drop()
input_data_df = input_data_df.drop(input_data_df[input_data_df['Country Name'] == 'India'].index)

input_data_df = input_data_df.drop(input_data_df[input_data_df['Country Name'] == 'Pakistan'].index)


input_data_df.head()

In [ ]:
input_data_df.dropna(subset=['Date Added'], inplace=True)

input_data_df.head()

## 102. set value where null
## director name and other columns

In [ ]:

# Set values where null
input_data_df.fillna('Not Given', inplace=True)

input_data_df.head()

## 103. Populate the country using the director column

In [ ]:
# loc - rows and columns
director_and_country_names_df = input_data_df.loc[:, ['Director Name', 'Country Name']]

director_and_country_names_df.head()

#director_and_country_names_df.tail()

In [ ]:
director_and_country_names_df = director_and_country_names_df.sort_values('Director Name')

director_and_country_names_df.head()

## 104. Add a column

In [ ]:
# add an integer column

input_data_df['Duration (in numbers)'] = 0

input_data_df.head()

## 105. Convert columns to integer or float values

In [ ]:
# Split numbers from strings using str.replace()

input_data_df['Duration (in numbers)'] = input_data_df['Duration'].str.replace('[a-zA-Z]', '', regex=True)

input_data_df.head()

In [ ]:

# Convert the 'ID' column to integer 64 type
# input_data_df['Duration (in numbers)'] = input_data_df['Duration (in numbers)'].astype('int64')

input_data_df["Duration (in numbers)"] = pd.to_numeric(input_data_df["Duration (in numbers)"], errors="coerce")



input_data_df.dtypes

In [ ]:
input_data_df.head()

In [ ]:
input_data_df['Duration (in numbers)'].isna().sum()

In [ ]:
# Fill missing values in the "Salary" column with the median salary
input_data_df['Duration (in numbers)'] = input_data_df['Duration (in numbers)'].fillna(0)

input_data_df.head()

In [ ]:
# Convert the 'ID' column to integer 64 type
input_data_df['Duration (in numbers)'] = input_data_df['Duration (in numbers)'].astype('int64')

input_data_df.head()

## 107. Remove leading/trailing whitespace (using lambda functions)

In [ ]:

# Remove white space from only string columns

input_data_df= input_data_df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

# print head and tail of dataframe
input_data_df

## 107. Convert columns to date types

In [ ]:

# Convert the 'Date' column to date type
input_data_df['Date Added'] = pd.to_datetime(input_data_df['Date Added'], format='%B %d, %Y')

input_data_df.dtypes

## 115. Clone column

In [ ]:

# Clone the 'Age' column to a new column 'Age_Clone' using the `copy()` function
input_data_df['Show id (new)'] = input_data_df['Show id'].copy()

input_data_df.head()

## 120. Create new index using row identifier

In [ ]:

# Set the 'Name' column as the index

input_data_df.set_index('Show id', inplace=True)

input_data_df.head()

## 125. Reset index if needed

In [ ]:

# Do NOT move the index to a column
input_data_df.reset_index(drop=True, inplace=True)

input_data_df.head()

## 130. Drop columns not needed

In [ ]:
# Drop the 'Age' column
# axis 1 = column, 0 = rows
input_data_df = input_data_df.drop('Show id (new)', axis=1)

input_data_df.head()

## 135. Convert minutes to hours and minutes

In [ ]:
# create new column to store time values

input_data_df['Time'] = ''

input_data_df.head()

In [ ]:


# Print unique values of the 'Name' column
print(input_data_df['Media Type'].unique())

In [ ]:
# Convert the Age column to string
input_data_df['Media Type'] = input_data_df['Media Type'].astype(str)

# Define a simple function to convert age to string
def minutes_to_hours_and_minutes_2(row_input):
    return_value = ''
    if(row_input['Media Type'] == 'Movie'):
        hours_output = int(row_input['Duration (in numbers)']) // 60
        minutes_output = int(row_input['Duration (in numbers)']) % 60
        return_value = '' + str(hours_output) + ' hours ' + str(minutes_output) + ' minutes'
    return str(return_value)


input_data_df['Time'] = input_data_df.apply(minutes_to_hours_and_minutes_2, axis=1)

input_data_df.head()

## 140. One hot encoding

## Use label encoder instead of one hot encoder or ordinal encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()
input_data_df['Media Type Encoded'] = label_encoder.fit_transform(input_data_df['Media Type'])

input_data_df.head()

## 999. Stop execution

In [ ]:
# raise SystemExit("Stop right there!")

In [ ]:
# raise SystemExit("Stop right there!")

# Data Visualization ðŸ“ŠðŸ“ˆðŸ“‰

## Sheet 1. Content type in percentage

In [ ]:
pie_df    = input_data_df[['Media Type']]

pie_df.head()

In [ ]:
# pie_df    = input_data_df[['Media Type']]

# Count the number of occurrences of each category
counts = pie_df['Media Type'].value_counts()

# Create a pie chart
plt.pie(counts, labels=counts.index, autopct='%1.1f%%')

## Sheet 2. Movie & TV Show by Country

In [ ]:
# Create a new DataFrame with two columns from the existing DataFrame
stacked_bar_df = input_data_df[['Media Type', 'Country Name']]

# Print the new DataFrame
stacked_bar_df.head()

In [ ]:

# Filter out rows where the 'Category' column is 'B'
stacked_bar_df = stacked_bar_df[stacked_bar_df['Country Name'] != 'Not Given']

stacked_bar_df.head()

In [ ]:
# Count the number of rows in each category in the 'Category' column
counts_df = stacked_bar_df['Country Name'].value_counts()

# Select the top 10 categories by count of rows
top_10_categories_df = counts_df.head(10)

# Print the top 10 categories by count of rows
print(top_10_categories_df)

In [ ]:
# Convert the index to a column
top_10_categories_df = top_10_categories_df.reset_index()

# Convert the 'Category' column to a list of values
category_list = top_10_categories_df['Country Name'].tolist()

# Print the list of values
print(category_list)

In [ ]:
# Filter rows in the 'Category' column only if the value is present in the list
stacked_bar_df = stacked_bar_df[stacked_bar_df['Country Name'].isin(category_list)]

# Print the filtered DataFrame
print(stacked_bar_df)

In [ ]:

# default order of printing bars is alpahbetical order

stacked_bar_df.groupby(['Country Name', 'Media Type']).size().unstack().plot(kind='bar', stacked=True)

In [ ]:


# default order of printing bars is alpahbetical order

stacked_bar_df.groupby(['Country Name', 'Media Type']).size().unstack().plot(kind='barh', stacked=True)

## Sheet 3. Number of Contents Added through the Years

In [ ]:

#
content_added_in_years_df = input_data_df['Release Year']

content_added_in_years_df.head()

## Sheet 4. Top Directors

In [ ]:
raise SystemExit("Stop right there!")

# The End ðŸ›‘