<a href="https://colab.research.google.com/github/anumit-web/ML-Analytics-Portfolio-2024/blob/main/9.%20Data%20Cleaning%20and%20Preprocessing/Data_Cleaning_and_Preprocessing_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Intelligence
# Machine Learning
# Portfolio Project
# #9
# Data Cleaning (v3)
# Goal = Cleaning and preprocessing raw dataset. showcase of skills like data wrangling, feature engineering, data normalization


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Branding statement

In [ ]:
# https://i.ibb.co/zZswY34/Pink-hands-network-2.png

In [ ]:
from IPython.display import Image
Image('https://i.ibb.co/zZswY34/Pink-hands-network-2.png')

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# EDA, Exploratory Data Analysis

## import libraries

In [ ]:
print('Hello, Data Cleaning and Preprocessing')

In [ ]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# this library is used for one hot encoding
from sklearn.preprocessing import OneHotEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

## Input data

In [ ]:
# https://zenodo.org/records/13925131/files/netflix_titles.csv?download=1

input_data_df = pd.read_csv("https://zenodo.org/records/13925131/files/netflix_titles.csv"
                            , sep = ',')

In [ ]:
number_of_rows = input_data_df.shape[0]
number_of_columns = input_data_df.shape[1]
print("Numner of rows = ", number_of_rows)
print("Number of columns = ", number_of_columns)

In [ ]:

input_data_df.head()

In [ ]:
input_data_df.tail()

In [ ]:
input_data_df.info()

In [ ]:
input_data_df.describe()

In [ ]:
#

In [ ]:
# raise SystemExit("Stop right there!")

change index to date tyoe and date column

In [ ]:
# input_data_df.index = input_data_df['Date']

In [ ]:
input_data_df.head()

do NOT drop date column because we need it for model training for linear and random forest algorithms

In [ ]:
# input_data_df = input_data_df.drop('Date', axis=1)
# where 1 is the axis number (0 for rows and 1 for columns.)

In [ ]:
input_data_df.head()

## find list of all columns which have null values

using SKIMPY

In [ ]:
# Get the count of null values in each column
null_counts = input_data_df.isnull().sum()
print('Priniting count of null values = ')
print(null_counts)

In [ ]:
try:
  import skimpy
except:
  !pip install skimpy
  import skimpy

In [ ]:
from skimpy import skim

In [ ]:
skim(input_data_df)

## find unique values by column names

In [ ]:
# Find the number of unique values in both 'Name' and 'Age' columns
unique_values = input_data_df.nunique()
print(unique_values)

In [ ]:
# ! pip install summarytools

try:
  import summarytools
except:
  !pip install summarytools
  import summarytools

In [ ]:
from summarytools import dfSummary

In [ ]:
dfSummary(input_data_df)

# Data Cleanimg and Preprocessing ðŸ§¹ðŸ§¼ðŸ§½

## 101. Rename columns to better understand the data

In [ ]:
input_data_df.columns

In [ ]:
input_data_df.columns = ['Show id', 'Media Type', 'Title',
                         'Director Name', 'Cast (Actors)', 'Country Name',
                         'Date Added', 'Release Year',
                         'Rating', 'Duration',
                         'Listed in Categories', 'Description']



input_data_df.head()

## 102. set value where nulll
## director name

In [ ]:

# Set values where null
input_data_df.fillna('Not Given', inplace=True)

input_data_df.head()

## 103. Populate the country using the director column

In [ ]:
# loc - rows and columns
director_and_country_names_df = input_data_df.loc[:, ['Director Name', 'Country Name']]

director_and_country_names_df.head()

director_and_country_names_df.tail()

## 999. Stop execution

In [ ]:
raise SystemExit("Stop right there!")

## 1. Drop columns not needed

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
# Drop the 'time zone' column
# input_data_df = input_data_df.drop(['time zone'], axis=1)

# print(input_data_df)

# print top 5 and last 5 rows of dataset
input_data_df

## 2. Rename columns to better understand the data

In [ ]:
input_data_df.columns

In [ ]:
input_data_df.columns = ['Show id', 'Media Type', 'Title',
                         'Director Name', 'Country Name',
                         'Date Added', 'Release Year',
                         'Rating', 'Duration',
                         'listed_in' ]



input_data_df.head()

## 3. Add a new integer column

In [ ]:
input_data_df['Duration (in numbers)'] = 0

input_data_df.head()

## 4. Convert columns to integer or float values

In [ ]:
# Split numbers from strings using str.replace()

input_data_df['Duration (in numbers)'] = input_data_df['Duration'].str.replace('[a-zA-Z]', '', regex=True)

input_data_df.head()

In [ ]:
# Convert the 'ID' column to integer 64 type
input_data_df['Duration (in numbers)'] = input_data_df['Duration (in numbers)'].astype('int64')



input_data_df.dtypes

In [ ]:
input_data_df.head()

## 5. Convert columns to date types

In [ ]:

# Convert the 'Date' column to date type
input_data_df['Date Added'] = pd.to_datetime(input_data_df['Date Added'])

input_data_df.dtypes

## 10. Find duplicate rows

In [ ]:
# Find duplicate rows
duplicate_rows = input_data_df[input_data_df.duplicated()]

# Print duplicate rows
print(duplicate_rows)

In [ ]:
# Check if duplicates are found
if len(duplicate_rows) == 0:
    print("No duplicates found")
else:
    print("Duplicates found:")

## 12. Find number of null rows sorted by column name

In [ ]:
input_data_df.isnull().sum()

In [ ]:
# Find count of number of nulls in columns

input_data_df.isnull().sum(axis = 0)

In [ ]:
print('No nulls found')

## 13. Remove leading/trailing whitespace (using lambda functions)

In [ ]:
# Remove white space from only string columns

input_data_df= input_data_df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

# print head and tail of dataframe
input_data_df

## 14. Clone column

In [ ]:

# Clone the 'Age' column to a new column 'Age_Clone' using the `copy()` function
input_data_df['Show id (new)'] = input_data_df['Show id'].copy()

input_data_df.head()

## 15. Create new index using row identifier

In [ ]:
# Set the 'Name' column as the index

input_data_df.set_index('Show id', inplace=True)

input_data_df.head()

## 16. Reset index if needed

In [ ]:
# Do NOT move the index to a column
input_data_df.reset_index(drop=True, inplace=True)

input_data_df.head()

## 17. Drop columns not needed

In [ ]:
# Drop the 'Age' column
# axis 1 = column, 0 = rows
input_data_df = input_data_df.drop('Show id (new)', axis=1)

input_data_df.head()

## 18. Convert minutes to hours and minutes

In [ ]:
# create new column to store time values

input_data_df['Time'] = ''

input_data_df.head()

In [ ]:

# Print unique values of the 'Name' column
print(input_data_df['Media Type'].unique())

In [ ]:
# Convert the Age column to string
input_data_df['Media Type'] = input_data_df['Media Type'].astype(str)

# Define a simple function to convert age to string
def minutes_to_hours_and_minutes_2(row_input):
    return_value = ''
    if(row_input['Media Type'] == 'Movie'):
        hours_output = int(row_input['Duration (in numbers)']) // 60
        minutes_output = int(row_input['Duration (in numbers)']) % 60
        return_value = '' + str(hours_output) + ' hours ' + str(minutes_output) + ' minutes'
    return str(return_value)


input_data_df['Time'] = input_data_df.apply(minutes_to_hours_and_minutes_2, axis=1)

input_data_df.head()

## 22. One hot encoding

Use label encoder instead of one hot encoder or ordinal encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()
input_data_df['Media Type Encoded'] = label_encoder.fit_transform(input_data_df['Media Type'])

input_data_df.head()

In [ ]:
raise SystemExit("Stop right there!")

# Data Visualization ðŸ“ŠðŸ“ˆðŸ“‰

## Total Sales Analysis

We group the data by month and year, calculating the total sum of sales to understand the sales trend over time. The resulting visualization depicts the total sales per month

# The End ðŸ›‘