<a href="https://colab.research.google.com/github/anumit-web/ML-Analytics-Portfolio-2024/blob/main/7.%20Financial%20Analysis%20and%20Modeling/Financial%20Analysis%20and%20Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Intelligence
# Machine Learning
# Portfolio Project
# #7
# Financial Analysis and Modeling
# Goal = Analyze financial data to create investment strategies or forecast financial performance

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Branding statement

In [32]:
# https://i.ibb.co/zZswY34/Pink-hands-network-2.png

In [ ]:
from IPython.display import Image
Image('https://i.ibb.co/zZswY34/Pink-hands-network-2.png')

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# EDA, Exploratory Data Analysis

## import libraries

In [ ]:
print('Hello, Financial Analysis and Modeling')

In [ ]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

## Input data

In [ ]:
input_data_df = pd.read_csv("https://raw.githubusercontent.com/anumit-web/ML-Analytics-Portfolio-2024/refs/heads/main/7.%20Financial%20Analysis%20and%20Modeling/datasets/NFLX.csv")

Goal analyze the result of AB testing for marketing campaign or website feature.

In [ ]:
number_of_rows = input_data_df.shape[0]
number_of_columns = input_data_df.shape[1]
print("Numner of rows = ", number_of_rows)
print("Number of columns = ", number_of_columns)

In [ ]:

input_data_df.head()

In [ ]:
input_data_df.tail()

In [ ]:
input_data_df.info()

In [ ]:
input_data_df.describe()

print column names

In [ ]:
print(input_data_df.columns)

In [ ]:
# Get all Column Header Labels as List
for column_headers in  input_data_df.columns:
    print(column_headers)

## find list of all columns which have null values
using SKIMPY

In [ ]:
# Get the count of null values in each column
null_counts = input_data_df.isnull().sum()
print('Priniting count of null values = ')
print(null_counts)

In [ ]:
try:
  import skimpy
except:
  !pip install skimpy
  import skimpy

In [ ]:
# ! pip install skimpy

In [ ]:
from skimpy import skim

In [ ]:
skim(input_data_df)

## find unique values by column names

In [ ]:
# Find the number of unique values in both 'Name' and 'Age' columns
unique_values = input_data_df.nunique()
print(unique_values)

In [ ]:
try:
  import summarytools
except:
  !pip install summarytools
  import summarytools

In [ ]:
# ! pip install summarytools

In [ ]:
from summarytools import dfSummary

In [ ]:
dfSummary(input_data_df)

# Data Processing

convert date column to date data tupe

In [ ]:
# print
input_data_df.head()

In [ ]:
input_data_df["Date"]=pd.to_datetime(input_data_df["Date"])

In [ ]:
input_data_df.head()

In [ ]:
input_data_df.dtypes

change index to date tyoe and date column

In [33]:
input_data_df.index = input_data_df['Date']

In [34]:
input_data_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2018-02-05,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
2018-02-06,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2018-02-07,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
2018-02-08,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
2018-02-09,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

# Data Visualization ðŸ“ŠðŸ“ˆðŸ“‰

## find number of sentiments in dataset

In [ ]:
pie_data_df = input_data_df.groupby('sentiment').count().reset_index()

# print
pie_data_df

In [ ]:
columns = ['sentiment', 'count']

pie_data_df = pie_data_df.filter(['sentiment', 'Year'])

#print
pie_data_df

columns = ['sentiment', 'count']

pie_data_df

In [ ]:
columns = ['sentiment', 'count']

pie_data_df.columns = columns

# print
pie_data_df.head()

In [ ]:

# Create a pie chart
plt.figure(figsize=(6, 8))
plt.pie(pie_data_df['count'], labels=pie_data_df['sentiment'], autopct='%1.1f%%')
plt.title('Sentiment/Vibe of post/tweet')
plt.show()

## find average number of letters or alphabets in a tweet categorized by sentiment type

## Change column names

## fill mean average values in rows and columns

In [ ]:
#

# add a coulmns

input_data_df["total_alphabets"] = 0

input_data_df.head()

In [ ]:
input_data_df["total_alphabets"] = input_data_df["text"].apply(len)

input_data_df.head()

In [ ]:
bar_chart_data_df = input_data_df.filter(['sentiment', 'total_alphabets'])

# print
bar_chart_data_df.head()

In [ ]:
bar_chart_data_df = bar_chart_data_df.groupby('sentiment')['total_alphabets'].mean().reset_index()

# print
bar_chart_data_df.head()

In [ ]:
columns = ['sentiment', 'average_alphabets']

bar_chart_data_df.columns = columns

# print
bar_chart_data_df

In [ ]:
sns.set()
plt.figure(figsize=(8, 6))
colors = ['#f46a9b', '#ede15b', '#87bc45']
sns.barplot(x='sentiment', y='average_alphabets', data=bar_chart_data_df, palette=colors)
plt.title('Average Number of Alphabets in Tweets by Sentiment')
plt.show()

# Data Calculations

## strategy
1. Lower case string
2. Tokenization
3. punctuation removal
4. Stop Words
5. Stemming
6. Lemmatization

Tokenization

In [ ]:
input_data_df.head()

In [ ]:
text_location = input_data_df.columns.get_loc('text')

# Create a new column 'Country'
input_data_df['text_processed'] = ""

# Insert the 'Country' column after the 'Name' column
input_data_df.insert(text_location + 1, 'text_processed', input_data_df.pop('text_processed'))

text_processed_location = input_data_df.columns.get_loc('text_processed')

# Create a new column 'Country'
input_data_df['text_processed_2'] = ""

# Insert the 'Country' column after the 'Name' column
input_data_df.insert(text_processed_location + 1, 'text_processed_2', input_data_df.pop('text_processed_2'))

text_processed_location_2 = input_data_df.columns.get_loc('text_processed_2')

# Create a new column 'Country'
input_data_df['text_processed_3'] = ""

# Insert the 'Country' column after the 'Name' column
input_data_df.insert(text_processed_location_2 + 1, 'text_processed_3', input_data_df.pop('text_processed_3'))


# print

input_data_df.head()

# print

input_data_df.head()

## 1. Lower case string

In [ ]:
input_data_df['text_processed'] = input_data_df['text'].str.lower()

input_data_df.head()

## 2. tokenize sentenses

In [ ]:
import nltk
nltk.download('all')

In [ ]:
from nltk.tokenize import word_tokenize

# Tokenize the 'text' column and put the result in a new column 'tokens'
input_data_df['text_processed'] = input_data_df['text_processed'].apply(word_tokenize)

input_data_df.head()

## punctuation removal

In [ ]:

input_data_df['text_processed_2'] = input_data_df['text_processed'].copy()

input_data_df.head()

In [ ]:
input_data_df.loc[:, 'text_processed_3'] = input_data_df.loc[:, 'text_processed_2']

input_data_df.head()

In [ ]:
import string

# input_data_df['text_processed_2'] = input_data_df['text_processed'].copy()

def remove_punctuation(tokens):

  tokens2 = []
  for word in tokens:
    #if (word in string.punctuation):
      #tokens.remove(word)
    if(word not in string.punctuation):
      tokens2.append(word)

  #return tokens
  return tokens2
  # return ""

# input_data_df['text_processed_2'] = input_data_df['text_processed']
input_data_df['text_processed_3'] = input_data_df['text_processed_3'].apply(remove_punctuation)

input_data_df.head(5)

# input_data_df['text', 'text_processed'].head()

## stop words removal

In [ ]:
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [ ]:

def remove_stop_words(tokens):

  tokens2 = []
  for word in tokens:
    #if (word in stopwords.words('english')):
       #tokens.remove(word)
    if ( word not in stopwords.words('english')):
         tokens2.append(word)

  #return tokens
  return tokens2

input_data_df['text_processed_3'] = input_data_df['text_processed_3'].apply(remove_stop_words)

input_data_df.head()

## 5. stemming

In [ ]:
from nltk.stem import PorterStemmer
from nltk.stem.snowball import SnowballStemmer

In [ ]:
porter_stemmer = PorterStemmer()
snowball_stemmer = SnowballStemmer("english") # use this algorithm as it is new version of porter

def stemwords_in_sentence(tokens):
  stemmed_words = []
  for word in tokens:
      stemmed_word = snowball_stemmer.stem(word)
      stemmed_words.append(stemmed_word)


  return stemmed_words

input_data_df['text_processed_3'] = input_data_df['text_processed_3'].apply(stemwords_in_sentence)

input_data_df.head()

## 6. lemming

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
lemmatizer = WordNetLemmatizer()

def lemmatize_in_sentence(tokens):
  lemmatized_words = []
  for word in tokens:
      lemmatized_word =   lemmatizer.lemmatize(word)
      lemmatized_words.append(lemmatized_word)


  return lemmatized_words

input_data_df['text_processed_3'] = input_data_df['text_processed_3'].apply(lemmatize_in_sentence)

input_data_df.head()

## 7. Join tokens into string

In [ ]:
# input_data_df['text_processed_3'] =

In [ ]:
text_processed_location_3 = input_data_df.columns.get_loc('text_processed_3')

# Create a new column 'Country'
input_data_df['text_processed_4'] = ""

# Insert the 'Country' column after the 'Name' column
input_data_df.insert(text_processed_location_3 + 1, 'text_processed_4', input_data_df.pop('text_processed_4'))

In [ ]:
input_data_df['text_processed_4'] = input_data_df['text_processed_3'].apply(lambda token: ' '.join(token))

In [ ]:
input_data_df.head()

## Change column names

## fill mean average values in rows and columns

## Process combined data from control group and test group

# Data Calculations

## Find sentiment of tweets and posts

## VADER (Valence Aware Dictionary and sEntiment Reasoner)

negative, neutral, and positive scores

compound score can range from -1 to 1.

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [ ]:
sia = SentimentIntensityAnalyzer()

In [ ]:
sia.polarity_scores("Wow, NLTK is really powerful!")

In [ ]:
sia.polarity_scores("I had a bad experience at the geocery store!")

In [ ]:
sia.polarity_scores("I am going to office")

In [ ]:
# create get_sentiment function

def get_sentiment(text):

    scores = sia.polarity_scores(text)

    if scores['compound'] > 0 :
        new_sentiment = 1
    if scores['compound'] == 0 :
        new_sentiment = 0
    if scores['compound'] < 0 :
        new_sentiment = -1

    return new_sentiment


# apply get_sentiment function

input_data_df['calculated_sentiment'] = input_data_df['text_processed_4'].apply(get_sentiment)

input_data_df.head()

In [ ]:
# Group by the 'Name' column and count the number of rows in each group
result =  input_data_df.groupby('calculated_sentiment').size()

print(result)

In [ ]:
sentiment_location = input_data_df.columns.get_loc('sentiment')

# Create a new column 'Country'
input_data_df['sentiment_to_number'] = 9999999

# Insert the 'Country' column after the 'Name' column
input_data_df.insert(sentiment_location + 1, 'sentiment_to_number', input_data_df.pop('sentiment_to_number'))

input_data_df.head()

In [ ]:
def convert_sentiment_to_number(sentiment):

  sentiment_number = 66666666

  if(sentiment == 'positive'):
    sentiment_number = 1
  if(sentiment == 'neutral'):
    sentiment_number = 0
  if(sentiment == 'negative'):
     sentiment_number = -1

  return sentiment_number
  # return ""

# input_data_df['text_processed_2'] = input_data_df['text_processed']
input_data_df['sentiment_to_number'] = input_data_df['sentiment'].apply(convert_sentiment_to_number)

input_data_df.head(5)

## Confusion marrix

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
cf_matrix = confusion_matrix(input_data_df['sentiment_to_number'],
                             input_data_df['calculated_sentiment'])
print(cf_matrix)

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(input_data_df['sentiment_to_number'], input_data_df['calculated_sentiment']))

In [ ]:
import seaborn as sns
sns.heatmap(cf_matrix, annot=True)

In [ ]:
sns.heatmap(cf_matrix/np.sum(cf_matrix), annot=True,
            fmt='.2%', cmap='Blues')

In [ ]:
group_names = ['True Neg','False Pos','False Neg','True Pos']
group_counts = [â€œ{0:0.0f}â€.format(value) for value in
                cf_matrix.flatten()]
group_percentages = [â€œ{0:.2%}â€.format(value) for value in
                     cf_matrix.flatten()/np.sum(cf_matrix)]
labels = [fâ€{v1}\n{v2}\n{v3}â€ for v1, v2, v3 in
          zip(group_names,group_counts,group_percentages)]
labels = np.asarray(labels).reshape(2,2)
sns.heatmap(cf_matrix, annot=labels, fmt='', cmap='Blues')

Conversion Rate

Conversion Rate = (Number of Conversions / Number of Visitors) x 100

add new columns
normalized = value between 0 and 1
percent = value between 0 and 100

In [ ]:
combined_data_df['CTR_Normalized'] = 0
combined_data_df['CTR_Percent'] = 0
combined_data_df['CR_Normalized'] = 0
combined_data_df['CR_Percent'] = 0

#print
combined_data_df.head()

In [ ]:
combined_data_df['CTR_Normalized'] = (combined_data_df['Clicks'] /
                      combined_data_df['Impressions'])

combined_data_df['CTR_Percent'] = (combined_data_df['Clicks'] /
                      combined_data_df['Impressions']) * 100

# print
combined_data_df.head()

In [ ]:
combined_data_df['CR_Normalized'] = (combined_data_df['Purchases'] /
                      combined_data_df['Clicks'])

combined_data_df['CR_Percent'] = (combined_data_df['Purchases'] /
                      combined_data_df['Clicks']) * 100


#print
combined_data_df.head()

In [ ]:
#CTR

temp_df1 = combined_data_df.groupby('Campaign Name')['CTR_Normalized'].mean()

In [ ]:
temp_df2 = combined_data_df.groupby('Campaign Name')['CR_Normalized'].mean()

In [ ]:
temp_df3 = combined_data_df.groupby('Campaign Name')['CTR_Percent'].mean()

In [ ]:
temp_df4 = combined_data_df.groupby('Campaign Name')['CR_Percent'].mean()

In [ ]:
temp_df5 = pd.merge(temp_df1, temp_df2, on='Campaign Name')

#print
temp_df5

In [ ]:
temp_df6 = pd.merge(temp_df3, temp_df4, on='Campaign Name')

In [ ]:
temp_df7 = pd.merge(temp_df5, temp_df6, on='Campaign Name')

# print
temp_df7

In [ ]:
calculations_df = temp_df7

# print
temp_df7

seperator

seperator

# Visualization

## CTR , Click through rate

### Bar chart of CTR

In [ ]:
colors = sns.color_palette(['#06C', '#F4B678'])

sns.barplot(data=calculations_df, x='Campaign Name',
                    y='CTR_Percent', hue='Campaign Name', palette = colors, dodge=False)
plt.title('Average Metrics of CTR')
plt.show()

### Box chart of CTR

In [ ]:
colors = sns.color_palette(['#73C5C5', '#A30000'])

sns.boxplot(x='Campaign Name', y='CTR_Normalized', data=combined_data_df,
            hue='Campaign Name', dodge=False, palette = colors)
plt.title('CTR Distribution by Campaign')
plt.show()

### Violin chart of CTR

In [ ]:
colors = sns.color_palette(['#7CC674', '#F0AB00'])

sns.violinplot(x='Campaign Name', y='CTR_Normalized', data=combined_data_df,
            hue='Campaign Name', dodge=False, palette = colors)
plt.title('CTR Distribution by Campaign')
plt.show()

## CR, Conversion rate

### Bar chart of CR

In [ ]:
colors = sns.color_palette(['#06C', '#F4B678'])

sns.barplot(data=calculations_df, x='Campaign Name',
                    y='CR_Percent', hue='Campaign Name', palette = colors, dodge=False)
plt.title('Average Metrics of CR')
plt.show()

### Box chart of CR

In [ ]:
colors = sns.color_palette(['#73C5C5', '#A30000'])

sns.boxplot(x='Campaign Name', y='CR_Normalized', data=combined_data_df,
            hue='Campaign Name', palette = colors, dodge=False)
plt.title('CR Distribution by Campaign')
plt.show()

### Violin chart of CR

In [ ]:
colors = sns.color_palette(['#7CC674', '#F0AB00'])

sns.violinplot(x='Campaign Name', y='CR_Normalized', data=combined_data_df,
            hue='Campaign Name', palette = colors, dodge=False)
plt.title('CR Distribution by Campaign')
plt.show()

# Analysis and Conclusions

**CTR (Click-Through Rate):**

Visual Observation: The histogram for CTR shows a higher mean for the Test Campaign compared to the Control Campaign.
The KDE line for the Test Campaign is consistently above that of the Control Campaign.
There are more outliers on the right for the Test Campaign than for the Control Campaign.
Conclusion: The Test Campaign has a higher CTR, indicating better engagement.



**CR (Conversion Rate):**

Visual Observation: The histogram for CR shows similar means for both Control and Test Campaigns, with the Test Campaign
having a slightly lower mean. The KDE lines overlap considerably, indicating similar distributions.
Conclusion: There is no significant difference in CR between the Control and Test Campaigns.

# The End ðŸ›‘